@model SymphonyLimited.DbContext.Result_Tbl

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Result_Tbl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GPA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GPA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exam_Tbl.Exam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exam_Tbl.Exam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student_Tbl.Student_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_Tbl.Student_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
