@model SymphonyLimited.DbContext.Gallery_Tbl

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    <div class="row">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Gallery</h4>
                    @*<p class="card-category">Complete profile</p>*@
                </div>
                <div class="card-body">
                    <hr />
                    @using (Html.BeginForm("Create", "Gallery", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <div class="text-center">
                                <img src="~/images/Profiles/image_placeholder.ebe9884b.jpg" id="ProfilePicture" name="ProfilePicture" alt="your image" width="250" height="200" />
                            </div>

                            <div class="form-group">
                                @Html.Label("Profile", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <input type="file" class="custom-file-input" id="inputGroupFile02"
                                           accept="image/jpeg, image/png" onchange="readURL(this);" name="Picture">
                                    <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                                </div>
                            </div>

                            <br />
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#ProfilePicture')
                        .attr('src', e.target.result)
                        .width(250)
                        .height(200);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
    <div>
        @Html.ActionLink("Back to List", "Index", "figure", new { @class = "btn btn-primary" })
    </div>
</body>
