@model IEnumerable<SymphonyLimited.DbContext.Lab_Tbl>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>LAB</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Lab)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Lab)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Lab_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Lab_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Lab_ID })
        </td>
    </tr>
}

</table>
