@model SymphonyLimited.DbContext.Figure_Tbl

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Figure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Figure)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new {@class= "btn btn-primary" }) |
    @Html.ActionLink("Back to List", "Index", "figure", new { @class = "btn btn-primary" })
</p>
