@model SymphonyLimited.DbContext.Exam_Tbl

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Exam_Tbl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Exam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exam_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exam_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Faculty_Tbl.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faculty_Tbl.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student_Tbl.Student_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_Tbl.Student_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
